@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

/* BELOW THIS IS CSS FROM BOOKING.JS */

table, tr, td {
  width: 500px;
  padding: 5px;
}

select {
  width: 100%;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 3px;
}

select:hover {
  cursor: pointer;
  border-color: #26829B;
  transition: all ease-in-out;
}

table {
  margin: auto;
  width: 500px;
}

#main-holder {
  border: 1px solid black;
  margin: 10% auto;
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#bookingHolder {
  /* border: 1px solid black; */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

/* ABOVE THIS IS CSS FROM BOOKING.JS */



